name: Python CI with Docker

on:
  push:
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      # Cache Python dependencies
      - name: Cache Python packages
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Step 1: Install Python dependencies
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install -r docker_install.txt
        working-directory: ./setup/  # Specify the path to your project directory

      # Step 2: Linting (Replace with your linter of choice)
      - name: Run linter
        run: |
          pylint ./scripts/
        
      # Step 3: Run unit tests
      - name: Run tests
        run: |
          pytest

      - name: Install and run Snyk
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}
        run: |
          npm install -g snyk
          snyk auth $SNYK_TOKEN
          snyk test --all-projects

      # Step 4: Docker Login (Replace with your Docker Hub credentials)
      - name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      # Step 5: Build Docker image
      - name: Build Docker image
        run: |
          docker build -t trihlebdv/dev_hw3:latest .
        
      # Step 6: Push Docker image to Docker Hub
      - name: Push Docker image
        run: |
          docker push trihlebdv/dev_hw3:latest